@model Game

<div class="row-rps-winpoint">
    <p class="winpoint-text">First To @Model.WinPoint Points Wins The Game!</p>
</div>

<div class="row-rps-scoreboard">
    <div>
        <img src="https://thumbs.dreamstime.com/b/user-profile-avatar-icon-134114292.jpg" alt="Image 1" class="rps-player-image" />
        <p class="rps-score">@Model.UserName Score: @Model.UserScore</p>
    </div>
    <div>
        <img src="@Model.OppImage" alt="Image 1" class="rps-player-image" />
        <p class="rps-score">@Model.OppName Score: @Model.OppScore</p>
    </div>
</div>

<!--user gets question-->
@if(ViewBag.Path == 1)
{
    <div class="question-prompt">
    <p class="turn">@Model.UserName's Turn!</p>
    <p class="subject"><strong>Subject:</strong> @ViewBag.Subject</p>
    <p class="question"><strong>Question:</strong> @ViewBag.Question</p>
    @using (Html.BeginForm("ResultForRedemptionQuestion", "Play", FormMethod.Post))
    {
        <input type="hidden" name="oppID" value="@Model.OppID" />
        <input type="hidden" name="winPoint" value="@Model.WinPoint" />
        <input type="hidden" name="userName" value="@Model.UserName" />
        <input type="hidden" name="oppName" value="@Model.OppName" />
        <input type="hidden" name="oppScore" value="@Model.OppScore" />
        <input type="hidden" name="userScore" value="@Model.UserScore" />
        <input type="hidden" name="totalQuestionNumber" value="@Model.TotalQuestionNumber" />
        <input type="hidden" name="subject" value="@ViewBag.Subject" />
        <input type="hidden" name="question" value="@ViewBag.Question" />
        <input type="hidden" name="answerA" value="@ViewBag.AnswerA" />
        <input type="hidden" name="answerB" value="@ViewBag.AnswerB" />
        <input type="hidden" name="answerC" value="@ViewBag.AnswerC" />
        <input type="hidden" name="answerD" value="@ViewBag.AnswerD" />
        <input type="hidden" name="correctAnswer" value="@ViewBag.CorrectAnswer" />
        <input type="hidden" name="correctAnswerString" value="@ViewBag.CorrectAnswerString" />


        <input type="hidden" name="path" value="1" />


        <div class="quiz-option">
            <input type="radio" id="option-a" name="answer" value="a" />
            <label for="option-a"><strong>A)</strong> @ViewBag.AnswerA</label>
        </div>

        <div class="quiz-option">
            <input type="radio" id="option-b" name="answer" value="b" />
            <label for="option-b"><strong>B)</strong> @ViewBag.AnswerB</label>
        </div>
            <P></P>

        <div class="quiz-option">
            <input type="radio" id="option-c" name="answer" value="c" />
            <label for="option-c"><strong>C)</strong> @ViewBag.AnswerC</label>
        </div>
            
        <p></p>

        <div class="quiz-option">
            <input type="radio" id="option-d" name="answer" value="d" />
            <label for="option-d"><strong>D)</strong> @ViewBag.AnswerD</label>
        </div>
            
        <p></p>
            <button type="submit" class="Primary-Button">Answer</button>
    }
    </div>
}


<!--opponent gets question-->
@if (ViewBag.Path == 2)
{
    <div class="question-prompt">
        <p class="turn">@Model.OppName's Turn!</p>
        <p class="subject"><strong>Subject:</strong> @ViewBag.Subject</p>
        <p class="question"><strong>Question:</strong> @ViewBag.Question</p>
        <p><strong>A)</strong> @ViewBag.AnswerA</p>
        <p></p>
        <p><strong>B)</strong> @ViewBag.AnswerB</p>
        <p></p>
        <p><strong>C)</strong> @ViewBag.AnswerC</p>
        <p></p>
        <p><strong>D)</strong> @ViewBag.AnswerD</p>
        @using (Html.BeginForm("ResultForRedemptionQuestion", "Play", FormMethod.Post))
        {
            <input type="hidden" name="oppID" value="@Model.OppID" />
            <input type="hidden" name="winPoint" value="@Model.WinPoint" />
            <input type="hidden" name="userName" value="@Model.UserName" />
            <input type="hidden" name="oppName" value="@Model.OppName" />
            <input type="hidden" name="userScore" value="@Model.UserScore" />
            <input type="hidden" name="oppScore" value="@Model.OppScore" />
            <input type="hidden" name="totalQuestionNumber" value="@Model.TotalQuestionNumber" />
            <input type="hidden" name="subject" value="@ViewBag.Subject" />
            <input type="hidden" name="question" value="@ViewBag.Question" />
            <input type="hidden" name="answerA" value="@ViewBag.AnswerA" />
            <input type="hidden" name="answerB" value="@ViewBag.AnswerB" />
            <input type="hidden" name="answerC" value="@ViewBag.AnswerC" />
            <input type="hidden" name="answerD" value="@ViewBag.AnswerD" />
            <input type="hidden" name="correctAnswer" value="@ViewBag.CorrectAnswer" />
            <input type="hidden" name="correctAnswerString" value="@ViewBag.CorrectAnswerString" />


            <input type="hidden" name="path" value="2" />

            <button type="submit" class="Primary-Button">Reveal Response</button>
        }

    </div>

}