@model Game


@if (Model.UserScore < Model.WinPoint && Model.OppScore < Model.WinPoint)
{
    <div class="row-rps-winpoint">
        <p class="winpoint-text">First To @Model.WinPoint Points Wins The Game!</p>
    </div>

    <div class="row-rps-scoreboard">
        <div>
            <img src="https://thumbs.dreamstime.com/b/user-profile-avatar-icon-134114292.jpg" alt="Image 1" class="rps-player-image" />
            <p class="rps-score">@Model.UserName Score: @Model.UserScore</p>
        </div>
        <div>
            <img src="@Model.OppImage" alt="Image 1" class="rps-player-image" />
            <p class="rps-score">@Model.OppName Score: @Model.OppScore</p>
        </div>
    </div>


    <div class="row-rps-instruction">
        <p class="instruction-text-title">Press the corresponding hand gesture for rock, paper, or scissors</p>
        <p class="instruction-text-subtext">Remember... paper beats rock, rock beats scissors, and scissors beats paper!</p>
    </div>



    <div class="row-rps-selection">
        @using (Html.BeginForm("ResultOfRPS", "Play", FormMethod.Post))
        {
            <!--adding to IActionResult parameters-->
            <input type="hidden" name="oppID" value="@Model.OppID" />
            <input type="hidden" name="winPoint" value="@Model.WinPoint" />
            <input type="hidden" name="userName" value="@Model.UserName" />
            <input type="hidden" name="oppName" value="@Model.OppName" />
            <input type="hidden" name="userScore" value="@Model.UserScore" />
            <input type="hidden" name="oppScore" value="@Model.OppScore" />
            <input type="hidden" name="totalQuestionNumber" value="@Model.TotalQuestionNumber" />

            <!--selects rock-->
            <button type="submit" name="userSelectionRPS" value="1" class="circle-button rock-button"></button>
            <!--selects paper-->
            <button type="submit" name="userSelectionRPS" value="2" class="circle-button paper-button"></button>
            <!--selects scissors-->
            <button type="submit" name="userSelectionRPS" value="3" class="circle-button scissors-button"></button>
        } 
    </div>
}

<!--user wins game-->
@if (Model.UserScore == Model.WinPoint)
{
    <div class="row-rps-winpoint">
        <p class="winpoint-text">First To @Model.WinPoint Points Wins The Game!</p>
    </div>

    <div class="row-rps-scoreboard">
        <div>
            <img src="https://thumbs.dreamstime.com/b/user-profile-avatar-icon-134114292.jpg" alt="Image 1" class="rps-player-image" />
            <p class="rps-score">@Model.UserName Score: @Model.UserScore</p>
        </div>
        <div>
            <img src="@Model.OppImage" alt="Image 1" class="rps-player-image" />
            <p class="rps-score">@Model.OppName Score: @Model.OppScore</p>
        </div>
    </div>

    <div class="row-rps-instruction2">
        <p class="instruction-text-title">Congratulations @Model.UserName you won the game</p>
        <p class="instruction-text-subtext">You defeated @Model.OppName.</p>
        @using (Html.BeginForm("ChooseOpp", "Play", FormMethod.Post))
        {
        <input type="hidden" name="totalQuestionNumber" value="@Model.TotalQuestionNumber" />
        <input type="hidden" name="userName" value="@Model.UserName" />
        <button type="submit" class="Primary-Button">Play Again</button>
        }
    </div>
}


<!--opponent wins game-->
@if (Model.OppScore == Model.WinPoint)
{
    <div class="row-rps-winpoint">
        <p class="winpoint-text">First To @Model.WinPoint Points Wins The Game!</p>
    </div>

    <div class="row-rps-scoreboard">
        <div>
            <img src="https://thumbs.dreamstime.com/b/user-profile-avatar-icon-134114292.jpg" alt="Image 1" class="rps-player-image" />
            <p class="rps-score">@Model.UserName Score: @Model.UserScore</p>
        </div>
        <div>
            <img src="@Model.OppImage" alt="Image 1" class="rps-player-image" />
            <p class="rps-score">@Model.OppName Score: @Model.OppScore</p>
        </div>
    </div>

    <div class="row-rps-instruction2">
        <p class="instruction-text-title">You Lost. @Model.OppName won the game</p>
        <p class="instruction-text-subtext">You  were defeated. </p>
        @using (Html.BeginForm("ChooseOpp", "Play", FormMethod.Post))
        {
        <input type="hidden" name="totalQuestionNumber" value="@Model.TotalQuestionNumber" />
        <input type="hidden" name="userName" value="@Model.UserName" />
        <button type="submit" class="Primary-Button">Play Again</button>
        }
    </div>
}    
