@{
    ViewData["Title"] = "Description";
}
@model Game

<h1 class="Title1"><strong>Opponent:</strong> @Model.OppName</h1>
<img src="@Model.OppImage" alt="Image 1" class="opp-image-SetWinPoint" />
<p class="Subtext1"><strong>Description:</strong> @Model.OppDescription</p>
<p class="Subtext1"><strong>Stats:</strong> @Model.OppStats</p>
<p></p>
<p class="Subtext1"><strong>Enter Win Point! Whoever reaches the win point first wins the game.</strong></p>
@using (Html.BeginForm("RoundOfRPS", "Play", FormMethod.Post))
{
    <input type="number" class="form-control" asp-for="@Model.WinPoint" />
    <p></p>
    <input type="hidden" name="oppID" value="@Model.OppID" />
    <input type="hidden" name="userName" value="@Model.UserName" />
    <input type="hidden" name="userScore" value="@Model.UserScore" />
    <input type="hidden" name="oppName" value="@Model.OppName" />
    <input type="hidden" name="oppScore" value="@Model.OppScore" />
    <input type="hidden" name="totalQuestionNumber" value="@Model.TotalQuestionNumber" />
    <button type="submit" class="Primary-Button">Continue</button>

}